# Node modules
node_modules/
package-lock.json


# Build output
dist/
build/
*.log

# Python
__pycache__/
*.pyc

# Java
target/

# VSCode settings
.vscode/

# OS
.DS_Store
Thumbs.db
node_modules/
.env
.DS_Store
target/
__pycache__/
*.pyc

#env 
.terraform/
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup

#keys
keys/
